<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buam.hascom" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >

        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
           >

        </activity>
        <activity
            android:name=".HiliwinawTabClass.Hiliwinaw"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".HiliwinawTabClass.Hiliwinaw1"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".HiliwinawTabClass.Hiliwinaw2"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".HiliwinawTabClass.Hiliwinaw3"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".HiliwinawTabClass.Hiliwinaw4"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".HiliwinawTabClass.Hiliwinaw5"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".YehiwotTabClass.YehiwotTiyake"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".YehiwotTabClass.YehiwotTiyake1"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".YehiwotTabClass.YehiwotTiyake2"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".YehiwotTabClass.YehiwotTiyake3"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".YehiwotTabClass.YehiwotTiyake4"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".YehiwotTabClass.YehiwotTiyake5"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".YehiwotTabClass.YehiwotTiyake6"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".YehiwotTabClass.YehiwotTiyake7"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib1"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib2"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib3"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib4"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib5"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib6"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib7"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib8"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib9"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib10"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".FikirinawesibTabClass.FikirnaWesib11"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".EgziabherinMawekTabClass.EgziabherinMawek"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".EgziabherinMawekTabClass.EgziabherinMawek1"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".EgziabherinMawekTabClass.EgziabherinMawek2"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".EgziabherinMawekTabClass.EgziabherinMawek3"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".EgziabherinMawekTabClass.EgziabherinMawek4"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".EgziabherinMawekTabClass.EgziabherinMawek5"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".EgziabherinMawekTabClass.EgziabherinMawek6"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".EgziabherinMawekTabClass.EgziabherinMawek7"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.WebView">

        </activity>
        <activity android:name=".activity.AboutUs"
            android:label="ስለ እኛ"
            >

        </activity>
        <activity android:name=".activity.Feedback"
            android:label="አስተያየት"
            >

        </activity>
        <activity android:name=".activity.TeleEshtaol"

            android:label="ቴል_ኤሽታኦል">

        </activity>
        <activity android:name=".ActivityFilmoch.Thirty5"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Thirty6"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Thirty7"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Thirty8"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Thirty9"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name=".ActivityFilmoch.Fourty"
            android:label="ፊልሞች ይመልከቱ">
        </activity>


    </application>

</manifest>
